{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":351,"scrollleft":0,"selection":{"start":{"row":18,"column":15},"end":{"row":19,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":20,"state":"start","mode":"ace/mode/apache_conf"}},"timestamp":1512946774068,"hash":"80fe1374660d6cdd7d55fff2e6a878b1c5301f41"}