{"filter":false,"title":"web.config","tooltip":"/web.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":9,"column":54},"end":{"row":9,"column":54},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1499697526652,"hash":"a74db3869daa64568f2c44afe2a008631109a5c4"}